body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#slider{
    margin: auto;
    display: flex;
    height: 400px;
    width: 800px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.slide {
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 3px 10px 20px rgba(43, 43, 43, 0.117);
    border-radius: 7px;
    text-align: center;
  }
  
  h2 {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 42px;
   
  }
  
  p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 12px;
      margin: 5px;
  }
  
  .slide h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7b61ff;
    margin: 7px;
  }
  
  .slide img {
    border-radius: 7px;
    width: 300px;
    height: 150px;
    object-fit: cover;
  }



h2{
    text-align: center;

}

button {
    display: inline-block;
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin: 20px;
    color: #7b61ff;
    background-color: white;
    border: none;
    cursor: pointer;
}

.button{
    width: 50px;
}

#slider-buttons{
    width: 100%;
    justify-content: center;
    text-align: center;
}

#slide-3 img {
    object-position: 100% 20%;
  }


.blur {
    opacity: 15%;
  }
  
  a {
    border: rgb(62, 1, 62) 1px solid;
    color: rgb(54, 2, 54);
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}

a:hover{
    background-color: rgba(218, 182, 251, 0.264);
}



#slide-5 img {
    object-position: 100% 20%;
  }
#slide-3 img {
    object-position: 0% 80%;
  }

  .summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-align: center;
  }